.gradle
*.log
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.jar
*.ipr

### NetBeans ###
nbproject/private/
build/
classes/
nbbuild/
dist/
nbdist/
.nb-gradle/